{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true,
  "tailwindConfig": "./src/app/globals.css",
  "tailwindFunctions": ["clsx", "cn", "cva"]
}
